<p id="notice"><%= notice %></p>

<h1>Listing Todo Lists</h1>

<table>
  <thead>
    <tr>
      <th>List name</th>
      <th>List due date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.list_name %></td>
        <td><%= todo_list.list_due_date %></td>
        <td><%= link_to 'Show', todo_list %></td>
        <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
<<<<<<< HEAD
        <td><%= link_to 'Destroy', todo_list, method: :delete %></td>
=======
        <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> 2c439b8be001a1e2440496d55bde3b2670224c02
      </tr>
    <% end %>
  </tbody>
</table>
<<<<<<< HEAD
<p/>

<%= will_paginate @todo_lists %>
=======
>>>>>>> 2c439b8be001a1e2440496d55bde3b2670224c02

<br>

<%= link_to 'New Todo list', new_todo_list_path %>
