<h1>Editing Todo Item</h1>

<%= render 'form' %>

<<<<<<< HEAD
<%= link_to 'Show', [@todo_list, @todo_item] %> |
<%= link_to 'Back', @todo_list %>
=======
<%= link_to 'Show', @todo_item %> |
<%= link_to 'Back', todo_items_path %>
>>>>>>> 2c439b8be001a1e2440496d55bde3b2670224c02
